{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<div id="canvas">
</div>
<div id="controls">
<form id="uploaddxf" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
</form>
<h2>Use analyzed DXF</h2>
<form id="directinput">
	<input type="text" name="custom_url"/>
    <input type="submit" value="Get result" />
	<button id="clear">Clear scene</button>
</form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="{% static 'NURBSCurve.js' %}"></script>
<script src="{% static 'NURBSUtils.js' %}"></script>
<script src="{% static 'scene.js' %}"></script>
<script>
init();
animate();
</script>
<script>
var splines_res = [];
var url = '';
function poll() {
	setTimeout(function() {
			$.ajax({ url: url, success: function(data) {
				console.log(data);
				if (data.finish == true) {
					console.log('finished');
					$.ajax({ url: url+'nurbs', success: function(res) {
						splines_res = res.data;
						load_splines(splines_res);
						}, error: function(xhr, code, msg) {
						console.log('Getting nurbs failed: '+code+' '+msg);
						}
					});
				} else {
				console.log('not finished');
				poll();
				}
				}, dataType: "json"});
			}, 500);
}
$('#uploaddxf').ajaxForm();
$('#uploaddxf').submit(function (e) {
		$(this).ajaxSubmit({
			type: "POST",
			url: '/',
			success: function(data) {
				console.log(data);
				url = data.result_url;
				poll();
			}
			});

		e.preventDefault();
		});
$('#directinput').submit(function (e) {
		var custom_url = $('input[name="custom_url"]').val();
		console.log(custom_url);
		$.ajax({ url: '/view/'+custom_url+'/nurbs', success: function(res) {
			splines_res = res.data;
			load_splines(splines_res);
			}, error: function(xhr, code, msg) {
			console.log('Getting nurbs failed: '+code+' '+msg);
			alert('Getting nurbs failed: '+code+' '+msg);
			}
		});
		e.preventDefault();
		});
$('#clear').click(function(e) {
		e.preventDefault();
		group.children = [];
		});
</script>
</body
</html>
</form>
