<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>DXF Web</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="http://semantic-ui.com/dist/semantic.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/dropzone.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/static/main.css">
    <!-- endbuild -->
</head>
<body>

    <main class="ui column grid">
	<h1 class="ui header">DXF Web Analyzer</h1>
        <div class="row">
            <div class="ui six wide column">
				<!--<img class="ui small image" src="http://semantic-ui.com/images/wireframe/image.png">-->
				<form action="{% url 'files:dxf_create' %}" class="dropzone">{% csrf_token %}</form>
			</div>
            <div class="ui ten wide column">
				<div class="ui three top attached steps">
					<div class="active step">
						<i class="puzzle icon"></i>
						<div class="content">
							<div class="title">Select material</div>
						</div>
					</div>
					<div class="step">
						<i class="options icon"></i>
						<div class="content">
							<div class="title">Parameters</div>
						</div>
					</div>
					<div class="step">
						<i class="browser icon"></i>
						<div class="content">
							<div class="title">Result</div>
						</div>
					</div>
				</div>
				<div class="ui attached segment">
					<p>Select your materials</p>
				</div>
            </div>
        </div>
    </main>
    
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/javascript/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
</body>
</html>
